@import url('https://fonts.googleapis.com/css2?family=Acme&family=Jacquard+12+Charted&display=swap');

:root {
    --tTabuleiro: 520px;
    --bRadius: 15px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    list-style: none;
    z-index: inherit;
    text-decoration: none;
}

html {
    background-color: var(--background);
    color: var(--color);
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    background: radial-gradient(ellipse 70% 150% at center, var(--background) 40%, var(--gradient));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100px;
}

header h1 {
    font-size: 37px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    gap: calc(var(--tTabuleiro) + 30px);
    max-height: var(--tTabuleiro);
    height: 100%;
    width: 90%;
    position: relative;
    user-select: none;
}

main aside {
    width: 250px;
}

/* INFORMAÇÕES */
.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--bRadius);
}

.infos .jogadores {
    display: flex;
    flex-direction: column;
}

.infos .jogadores div {
    margin: 20px 10px;
    border-radius: var(--bRadius);
    padding: 10px 15px;
    transition: 0.5s;
}

.infos .jogadores .jogadorU span {
    color: var(--corJU);
    text-shadow: 0px 0px 4px var(--corJU);
    font-size: 110%;
}

.infos .jogadores .jogadorD span {
    color: var(--corJD);
    text-shadow: 0px 0px 4px var(--corJD);
    font-size: 110%;
}

/* TABULEIRO */
.boxgame {
    position: absolute;
    background-color: var(--color);
    width: 100%;
    max-width: var(--tTabuleiro);
    max-height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.boxgame div {
    background-color: var(--background);
    width: 33%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.boxgame .tabuleiro div {
    background-color: var(--color);
    width: 87%;
    aspect-ratio: 1 / 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.boxgame .tabuleiro .modific {
    display: none;
    cursor: default;
    align-content: center;
    justify-content: center;
    position: absolute;
    font-size: 600%;
    background-color: var(--corBlock);
    border-radius: var(--bRadius);
    z-index: 99;
    width: 100%;
    height: 100%;
}

.boxgame .tabuleiro div div {
    background-color: var(--background);
    width: 32%;
    aspect-ratio: 1 / 1;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

/* TEMAS */
.temas {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.temas select {
    background-color: var(--background);
    color: var(--color);
    margin: 18px 8px;
    padding: 10px 15px;
    font-size: 25px;
    border: solid 2px #7f7f7f7f;
    border-radius: var(--bRadius);
}

/* FOOTER */
footer {
    justify-content: center;
    height: 70px;
    margin-top: 10px;
}

footer .assi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    height: 45px;
    width: 200px;
    border-radius: var(--bRadius);
    background-color: var(--neutra);
    transition: 0.2s;
    /* filter: brightness(0.8); */
    position: relative;
    overflow: hidden;
}
footer .assi:hover {
    filter: brightness(1.4);
}
/*
footer .assi::before{
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: bright 10s ease-in-out infinite;
}

@keyframes bright {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
*/

/* Tela grande */
/* @media screen and (min-width: 941px) {} */

/* Tela pequena */
@media screen and (max-width: 940px) {
    body {
        background: radial-gradient(ellipse 160% 70% at center, var(--background) 60%, var(--gradient));
    }

    header h1 {
        font-size: 30px;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        max-height: 100%;
        height: 100%;
        gap: 90vw;
    }
    .infos {
        width: 100%;
    }

    .infos .jogadores {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-size: 80%;
    }

    .boxgame .tabuleiro .modific {
        font-size: 350%;
    }

    .boxgame .tabuleiro div div {
        font-size: 70%;
    }

    .temas {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .temas select {
        font-size: 16px;
    }
}

/* Editando o switch alert 2 */
.swal2-show {
    font-size: 30px;
}

.swal2-height-auto {
    min-height: 100% !important;
}

.swal2-html-container {
    color: var(--color) !important;
}